---
layout: page
title: Blog
tagline: All the posts of jorigamy.github.io theme.
group: "navigation"
tags :
author : Antonio Trento
css:
js:
keywords:
img:
image: assets/images/antonio-trento-logo-social.jpg
floating: shard-1-5x-3.png
btn-link: https://github.com/jorigamy/jorigamy.github.io
---

{% include theme/floating.html %}

<!-- Page Content -->
<div id = "introduction" class="page-content">
    <!-- Content -->
    <div class="content clearfix">
        <!-- Cards -->
        <div id="cards" class="container mb-2" style="padding-bottom: 1px">
            <div class="example col-md-12 ml-auto mr-auto">
                <div class="row">
                  {% for post in site.posts %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div style="margin-top:2em" class="card">{% if post.img %}<img class="card-img-top ll-image" data-img-src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ post.img }}" alt="{{ post.title }} image missing">{% endif %}
                            <div class="card-body">
                                <h4 class="card-title">{{ post.title }}</h4>
                                <p class="card-text">{{ post.excerpt }}</p><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read More</a></div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
      </div>
</div>
