{% if page.locker== "yes" %}
<script>
	jQuery(document).ready(function ($) {
	   $('.to-lock').sociallocker({
		facebook:{
		   like:{
			  url: '{{ page.facebook-locker }}'
		   }
		},
		twitter:{
		   tweet:{
			  url: '{{ page.locker-tweet-url }}',
			  text: '{{ page.locker-tweet-text }}',
			  via: '{{ page.locker-tweet-via }}'
		   }
		},
		linkedin:{
		   share:{
			  url: '{{ page.locker-linkedin }}'
		   }
		},
		buttons:{
		   order: ["facebook-like","twitter-tweet","linkedin-share"],
		   counters: true,
		   lazy: true
		}
	   });
	});
</script>


<article id="default-usage">
    <section>
        <div class="to-lock onp-sl-content" style="display: none; background-color: #f9f9f9; text-align: center;">
            {{ page.locker-content }}
        </div>
    </section>
</article>
{% endif %}
