      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <span class="navbar-brand mr-5">
          Share
        </span>
      <ul class="header-social-icons navbar-nav ml-auto">
        <li class="nav-item">
          <a data-toggle="tooltip" href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}/{{ page.url }}" class="nav-link" rel="nofollow" target="_blank" title="Share on Facebook"> <i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item"><a data-toggle="tooltip" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}/{{ page.url }}&title={{ page.title }}%20{{ page.description }}&source=LinkedIn" rel="nofollow" target="_blank" title="Share on LinkedIn" class="nav-link"><i class="fa fa-linkedin"></i></a></li>
        <li class="nav-item"><a data-toggle="tooltip" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ site.baseurl }}/{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" class="nav-link" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a></li>
        <li class="nav-item"><a data-toggle="tooltip" href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}/{{ page.url }}" class="nav-link" rel="nofollow" target="_blank" title="Share on Google plus"><i class="fa fa-google-plus"></i></a></li>

      </ul>
      </nav>
