<!DOCTYPE html>
<!--
Antonio Trento
https://www.linkedin.com/in/antoniotrento/
https://twitter.com/lantoniotrento
lantoniotrento@gmail.com
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>{{ site.title }}</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<!--[if lte IE 8]><script src="{{ "/assets/js/gallery/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
  	<link rel="stylesheet" href="{{ "/assets/css/gallery/main.css" | relative_url }}" />
  	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "/assets/css/gallery/ie8.css" | relative_url }}" /><![endif]-->
  	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "/assets/css/gallery/ie9.css" | relative_url }}" /><![endif]-->
  	{% seo %}
  	<noscript><link rel="stylesheet" href="{{ "/assets/css/gallery/noscript.css" | relative_url }}" /></noscript>
    <meta name="theme-color" content="#0067F4" />
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/{{ site.favicon }}" type="image/x-icon">
    <!-- CSS loaded by the children page -->
    {% if page.css %}<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/css/{{ page.css }}" />{% endif %}

    {% if site.google.tracking_id %}
      {% include JB/analytics.html %}
    {% endif %}
    {% if site.google.ad_client %}
      {% include JB/ad-block.html %}
    {% endif %}


    <link href="{{ site.url }}{{ site.baseurl }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ site.url }}{{ site.baseurl }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">


	  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '509727322725898',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<!--Monirtoraggio click in uscita analitycs-->
<script>
/**
* Funzione che monitora un clic su un link in uscita in Analytics.
* Questa funzione prende in considerazione e utilizza una stringa dell'URL valido
* Come etichetta evento. L'impostazione del metodo di trasporto su 'beacon' consente l'invio dell'hit
* utilizzando 'navigator.sendBeacon' in un browser che lo supporta.
*/
var trackOutboundLink = function(url) {
   ga('send', 'event', 'outbound', 'click', url, {
     'transport': 'beacon',
     'hitCallback': function(){document.location = url;}
   });
}
</script>
  </head>
  <body class="is-loading-0 is-loading-1 is-loading-2">


	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.JB.analytics.google.tagmanager_id }}"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
  <!-- Main -->

      <div id="main">
        <!-- Header -->
        <header id="header">
        	<h1><a href="{{ site.url }}{{ site.baseurl }}">{{ site.gallery-title }}</a></h1>
        	<p>{{ site.gallery-description }}</p>
        	<ul class="icons">
        		{% if site.twitter_url %}
        		<li><a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
        		{% endif %}
        		{% if site.googleplus_url %}
        		<li><a href="{{ site.googleplus_url }}" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
        		{% endif %}
        		{% if site.facebook_url %}
        		<li><a href="{{ site.facebook_url }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
        		{% endif %}
        		{% if site.instagram_url %}
        		<li><a href="{{ site.instagram_url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        		{% endif %}
        		{% if site.pinterest_url %}
        		<li><a href="{{ site.pinterest_url }}" class="icon fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
        		{% endif %}
        		{% if site.500px_url %}
        		<li><a href="{{ site.500px_url }}" class="icon fa-500px" target="_blank"><span class="label">500px</span></a></li>
        		{% endif %}
        		{% if site.gitlab_url %}
        		<li><a href="{{ site.gitlab_url }}" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
        		{% endif %}
        		{% if site.github_url %}
        		<li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
        		{% endif %}
        		{% if site.slack_url %}
        		<li><a href="{{ site.slack_url }}" class="icon fa-slack" target="_blank"><span class="label">Slack</span></a></li>
        		{% endif %}
        		{% if site.linkedin_url %}
        		<li><a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
        		{% endif %}
        	</ul>
        </header>

      {{ content }}

      <!-- Footer -->
      <footer id="footer">
          <ul class="copyright">
              <li>&copy; {{ site.title }}.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li><li>Built By: <a href="https://lantoniotrento.github.io">Antonio Trento</a>.</li>
          </ul>
      </footer>

      </div>

      <!-- Scripts -->
      <script src="{{ "assets/js/gallery/jquery.min.js" | absolute_url }}"></script>
      <script src="{{ "assets/js/gallery/skel.min.js" | absolute_url }}"></script>
      <!--[if lte IE 8]><script src="{{ "assets/js/gallery/ie/respond.min.js" | absolute_url }}></script><![endif]-->
      <script src="{{ "assets/js/gallery/main.js" | absolute_url }}"></script>




  </body>
</html>
