<!DOCTYPE html>
<!--
https://www.linkedin.com/in/antoniotrento/
https://twitter.com/lantoniotrento
lantoniotrento@gmail.com
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include google blocks from _includes/JB/ -->
    {% if site.google.tracking_id %}
      {% include JB/analytics.html %}
    {% endif %}
    {% if site.google.ad_client %}
      {% include JB/ad-block.html %}
    {% endif %}
    <!-- END Include google blocks from _includes/JB/ -->
  <!-- CSS loaded by the children page -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA==" crossorigin="anonymous"></script>

    {% if page.css %}<link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/assets/css/{{ page.css }}" />{% endif %}
	  <!-- CSS socialocker -->
	{% if page.locker == "yes" %}  
 
  	<script src="{{ site.url }}{{ site.baseurl }}/assets/js/libs/jquery.min.js"></script>
        <script src="{{ site.url }}{{ site.baseurl }}/assets/js/libs/jquery.ui.highlight.min.js"></script>
        <script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.sortable.min.js"></script>
        <script src="{{ site.url }}{{ site.baseurl }}/assets/js/pandalocker.2.1.0.js?6"></script>
        <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/pandalocker.2.1.0.min.css" />
	{% endif %}
      <meta name="theme-color" content="#0067F4" />
	    <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">
      <!-- main css 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">-->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
	  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main-demo.css?v=1.0.2" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
      <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/prism.css">
      <!-- CYCLE OF GLOBALS CSS FROM _config.yml FILE DATAS -->
      {% if site.scripts.css %}
	      {{ site.scripts.css }} 
      {% endif %}
      	

<!-- block for amp-jekyll plugin -->
      {% if page.path contains '_posts' %}
        {% unless page.skip_amp %}
          <link rel="amphtml" href="{{ page.id | prepend: '/amp' | prepend: site.baseurl | prepend: site.url | append: '.html' }}">
        {% endunless %}
      {% endif %}
<!-- block for amp-jekyll plugin -->      

	<!--[if IE]>
		<script type="text/javascript">
			 var console = { log: function() {} };
		</script>
	<![endif]-->
    <link href="{{ site.url }}{{ site.baseurl }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ site.url }}{{ site.baseurl }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <!-- Google ADS mobile block-->



<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '509727322725898',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- ProofLeads embed code -->
<script type="text/javascript">
var proofLeads = proofLeads || {}; proofLeads.key = "KEildFcxsykmIHPP"; proofLeads.domain = "jorigamy.github.io"; proofLeads.interval = "15000"; proofLeads.blinkDuration = "5000";
(function() {
var pl = document.createElement("script"), script = document.getElementsByTagName("script")[0];
pl.type = "text/javascript"; pl.async = true; pl.src = "https://app.proofleads.com/api/proofleads-embed/irtUXtqrKNxT.js";
script.parentNode.insertBefore(pl, script);
})();
</script>
<!-- End of ProofLeads embed code -->
</head>
<body data-gr-c-s-loaded="true">
  <!-- Include tag manager blocks from _includes/JB/ -->
    {% if site.google.tagmanager_id == true %}
      {% include JB/tag-manager-body.html %}
    {% endif %}

    <div class="loader">
        <div class="page-loader"></div>
    </div>
      {{ content }}
    {% include themes/footer.html %}
    {% include themes/modal.html %}
    {% include themes/scripts.html %}


  </body>
</html>
