<!-- Shards --><img src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.floating }}" alt="Shard" class="shard">
<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column">

      <div class="hidden-sm-down inner-wrapper mt-auto mb-auto">
          <h1 class="slide-in">{{page.title}}</h1><br />

          <p style="font-size: 1.50rem; font-weight: 300;" class="slide-in">{{page.tagline}}</p>
  <div class="action-links slide-in"><a href="{{page.btn-link}}" class="btn btn-primary btn-pill align-self-center mr-2"><i class="fa fa-github mr-1"></i> See Posts</a> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Learn More</a></div><div class="action-links slide-in"> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Learn More</a></div>
      </div>
      <div class="hidden-md-up inner-wrapper mt-auto mb-auto">
          <h1 style="font-size: 3.25rem!important;" class="slide-in">{{page.title}}</h1>

          <p class="slide-in">{{page.tagline}}</p>
  <div class="action-links slide-in"><a href="{{page.btn-link}}" class="btn btn-primary btn-pill align-self-center mr-2"><i class="fa fa-github mr-1"></i> See Posts</a> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Learn More</a></div><div class="action-links slide-in"> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Learn More</a></div>
      </div>

</div>
