<!-- Shards --><img src="{{ site.url }}{{ site.baseurl }}/assets/images/{% if page.floating %}{{ page.floating }}{% else %}shard-1-5x-3.png{% endif %}" alt="Shard" class="shard">
<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column">

      <div class="hidden-sm-down inner-wrapper mt-auto mb-auto">
          {% if page.title %}<h1 class="slide-in">{{page.title}}</h1>{% endif %}<br />

          {% if page.tagline %}<p style="font-size: 1.50rem; font-weight: 300;" class="slide-in">{{page.tagline}}</p>{% endif %}
          {% if page.btn-link %}<div class="action-links slide-in"><a href="{{page.btn-link}}" class="btn btn-primary btn-pill align-self-center mr-2"><i class="fa fa-github mr-1"></i> See Posts</a> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Learn More</a></div>{% else %}<div class="action-links slide-in"><a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Learn More</a></div>{% endif %}
      </div>
      <div class="hidden-md-up inner-wrapper mt-auto mb-auto">
          {% if page.title %}<h1 style="font-size: 3.25rem!important;" class="slide-in">{{page.title}}</h1>

          {% if page.tagline %}<p class="slide-in">{{page.tagline}}</p>{% endif %}
          {% if page.btn-link %}<div class="action-links slide-in"><a href="{{page.btn-link}}" class="btn btn-primary btn-pill align-self-center mr-2"><i class="fa fa-github mr-1"></i> See Posts</a> <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Learn More</a></div>{% else %}<div class="action-links slide-in"><a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">Learn More</a></div>{% endif %}
      </div>

</div>
