<div class="container">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark pt-4 px-0">
    <a class="navbar-brand" href="{{ site.url }}">
      <img src="assets/images/agency-landing/shards-logo-white.svg" class="mr-2" alt="Shards - Agency Landing Page">
      Jorigamy
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/app.html">App template</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.url }}/agency.html">Agency template <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.url }}/blog.html">Blog</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/DesignRevision"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/designrevision"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://dribbble.com/hisk"><i class="fa fa-dribbble"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/designrevision"><i class="fa fa-github"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- / Navigation -->
</div> <!-- .container -->
