
<header style="z-index: 1030!important;" class="sticky-header">
  <div class="container">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light px-0">
      <a class="navbar-brand mr-5" href="{{ site.url }}">
        <img src="{{ site.url }}/{{ site.baseurl }}assets/images/{{ site.navbar-logo }}" class="mr-2" alt="Shards - Agency Landing Page">
        {{site.title}}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include pages_list %}
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Layouts</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="/app.html"><i style="color:#17c671" class="fa fa-plus-square"></i> Application</a> <a class="dropdown-item" href="/agency.html"><i style="color:#007bff" class="fa fa-suitcase"></i> Agency</a> <a class="dropdown-item" href="/signup.html"><i style="color:#ff0000" class="fa fa-envelope"></i> Signup</a> <a class="dropdown-item" href="/gallery.html"><i style="color:#551A8B" class="fa fa-camera-retro"></i> Gallery</a></div>
          </li>          
        </ul>

        <!-- Social Icons -->
        <ul class="header-social-icons navbar-nav ml-auto">          
          {% if site.author.github %}<li class="nav-item"><a class="nav-link" data-toggle="tooltip" title="Fork it" href="https://github.com/{{ site.author.github }}" rel="nofollow" target="_blank"><i class="fa fa-github"></i></a></li>{% endif %}
          {% if site.author.facebook %}<li class="nav-item">
            <a class="nav-link" data-toggle="tooltip" title="Follow on facebook!" href="https://www.facebook.com/{{ site.author.facebook }}" rel="nofollow" target="_blank" title="Share on Facebook"> <i class="fa fa-facebook"></i></a>
          </li>{% endif %}
          {% if site.author.linkedin %}<li class="nav-item"><a class="nav-link" data-toggle="tooltip" title="Connect with me" href="https://www.linkedin.com/in/{{ site.author.linkedin }}" title="LinkedIn" rel="nofollow" target="_blank"><i class="fa fa-linkedin"></i></a></li>{% endif %}
          {% if site.author.twitter %}<li class="nav-item"><a class="nav-link" data-toggle="tooltip" title="Tweet together" href="https://twitter.com/{{ site.author.twitter }}" rel="nofollow" target="_blank"><i class="fa fa-twitter"></i></a></li>{% endif %}
          {% if site.author.google %}<li class="nav-item"><a class="nav-link" data-toggle="tooltip" title="Enter in my community" href="{{ site.author.google }}" rel="nofollow" target="_blank"><i class="fa fa-google-plus"></i></a></li>{% endif %}          
          <button style="margin-left: 1em" type="button" class="btn btn-success" onclick="window.open('{{ site.url }}{{ site.baseurl }}/sart.html')"><i class="fa fa-bolt mr-1"></i> Start</button>
          <button style="margin-left: 1em" type="button" class="btn btn-primary" data-toggle="modal" data-target="#donate"><i class="fa fa-bitcoin mr-1 animated infinite tada"></i> Donate<!--span class="animated infinite flash">Donate</span--></button>
          
        </ul>
      </div>
    </nav>
    <!-- / Navigation -->
  </div> <!-- .container -->
</header>
