{% include themes/floating.html %}

<!-- Page Content -->
<div class="page-content">
    <!-- Content -->
    <div class="content clearfix">
        <div id="introduction" class="container">
          <div class="row">
            <div class="col-lg-8">

              <div class="section-title ml-auto mr-auto">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ page.img }}" class="img-fluid">
                <p>Made By {{ site.author.name }} - Tagged with  {{page.tags | array_to_sentence_string | replace:'and',''}}</p>
              </div>
    					{% include JB/ads-block.html %}
    					<br />
    					<div class="section-title ml-auto mr-auto">

    						{{ content }}
    					</div>
    						<br />
    						{% include JB/ads-block.html %}
    						<br />
    					<div class="section-title ml-auto mr-auto">
    						{% include JB/disqus.html %}

    					</div>


            </div>
            <div class="col-lg-4">{% include side-bar.html %}</div>
          </div>
				</div>
        <div class="wave-container hidden-lg-down">						
						<div class="wave wave--white"></div>     
						<div class="wave wave--grey"></div>                                                                   
		</div>				
		</div>
</div>
