<!-- Inner Wrapper -->
<div class="inner-wrapper mt-auto mb-auto container">
  <div class="row">
    <div class="col-md-7">
        <h1 class="welcome-heading display-4 text-white">Product Development</h1>
        <p class="text-white">We can help you take your idea from concept to shipping using the latest technologies and best practices available.</p>
        <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a>
    </div>
  </div>
</div>
<!-- / Inner Wrapper -->
