
        <!-- Inner Wrapper -->
        <div class="inner-wrapper mt-auto mb-auto container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 mt-auto mb-auto mr-3">
                <h1 class="welcome-heading display-4 text-white">Keep Your Files in Sync</h1>
                <p class="text-muted">Keep your files in sync using the most secure and advanced solution to date.</p>
                <a href="https://designrevision.com/download/shards" class="btn btn-lg btn-success btn-pill align-self-center"><i class="fa fa-download mr-2"></i>Download</a>

                <div class="d-block mt-4">
                  <a href="https://designrevision.com/download/shards"><img class="w-25 mt-2 mr-3" src="assets/images/app-promo/badge-apple-store.png" alt="Get it on Apple Store"></a>
                  <a href="https://designrevision.com/download/shards"><img class="w-25 mt-2" src="assets/images/app-promo/badge-google-play-store.png" alt="Get it on Google Play Store"></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-12 ml-auto">
              <img class="iphone-mockup ml-auto" src="assets/images/app-promo/iphone-app-mockup.png" alt="iPhone App Mockup - Shards App Promo Demo">
            </div>
          </div>
        </div>
        <!-- / Inner Wrapper -->
